.input{
    display: flex;
    justify-content: center;
}

.txt {
    font-size: 25px;
}

::placeholder {
    color: gray;
    font-size: 17px;
  }

.header {
    padding: 10px;
    font-size: larger;
    background-color: rgb(241, 237, 232);
}

@media (min-device-width: 320px) and (max-device-width: 600px) {
    .header, .input{
      margin-top: 50px;
    }
    .txt{
      width: 190px;
    }
  } 
  